.firstimage {
	vertical-align: middle;
	width: 223px;
	height: 58px;
    display: inline;
}

body {
  padding: 54px 52px;
}

.active{
	color: #4E6FAE;
}

a {
	color: #8D81FF;
	font-size: 26px;
	font-weight: 700;

}

li {
	margin-left: 60px;
	display: inline;
}

nav {
	display: inline-block;
}

.date {
	font-size: 24px;
	font-weight: 400;
	color: #84FF81;
	background: #5012D5;
	display: inline-block;
	align-content: center;
	padding: 11px 11px;
	margin-top: 52px;
}

h3 {
   color: #8D81FF;
   font-size: 24px;
   font-weight: 400;
   margin-top: 18px;


}


h4 {
	color: #4E6FAE;
	font-size: 20px;
	font-weight:700;
	font-family: 
FiraGO;
margin-top: 8px;
}

.image-1 {
 margin-top: 13px;
 height: 280px;
 width: 447px;

}

.content {
	width: 700px;
	vertical-align: top;
	display: inline-block;
	margin-left: 66px;
}

.paragraph {
	font-size: 16px;
	font-weight: 400;
	color: #4E6FAE;
	margin-top: 20px;
}

.footer{
	margin-top: 143px;
	padding-right: 41px;
	padding-left: 41px;
}

.secondmiddle {
    margin: 97px 194px 120px;

}

.activecolor {
   color: #4E6FAE;
   font-size: 26px;
   font-weight: 700;
   display: inline-block;
   padding-right: 18px;
   margin-left: 194px;
}

.activecolor2{
	color: #4E6FAE;
   font-size: 26px;
   font-weight: 400;
   display: inline-block;
   padding-left: 18px;
   margin-right: 577px;
}

.footer1 {
	margin-top: 143px;
	padding-right: 41px;
	padding-left: 194px;
}

.footer2 { 
	margin-top: 143px;
	padding-right: 41px;
	padding-left: 94px;
}

.card {
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;
	vertical-align: top;
}

